<ion-header>
    <ion-toolbar color="primary">
        <ion-button color="light" fill="clear" slot="end" (click)="dismiss()">
            Fermer
        </ion-button>
        <ion-button color="light" fill="clear" slot="start" *ngIf="!creationMode" (click)="shareTransaction()">
            <ion-icon name="share-outline"></ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="creationMode; else showInfos">
        <ion-item>
            <ion-label>Type</ion-label>
            <ion-select placeholder="Type" [(ngModel)]="transactionType">
                <ion-select-option value="negative">Dépense</ion-select-option>
                <ion-select-option value="positive ">Revenu</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Label</ion-label>
            <ion-input placeholder="Label de la dépense" clearInput type="text" [(ngModel)]="transaction.label">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Prix</ion-label>
            <ion-input placeholder="Prix" clearInput type="number" [(ngModel)]="transaction.value"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Catégorie</ion-label>
            <ion-select placeholder="Catégorie" [(ngModel)]="transaction.categorie">
                <ion-select-option *ngFor="let category of categories" [value]="category">{{category.icon}}
                    {{category.label}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime value="12-06-2021" display-timezone="utc" displayFormat="DD-MM-YYYY"
                [(ngModel)]="transaction.date"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Lieux</ion-label>
            <ion-input placeholder="Lieu de la dépense" clearInput type="text" [(ngModel)]="transaction.place">
            </ion-input>
        </ion-item>
    </ng-container>
    <ng-template #showInfos>
        <div class="list-transactions">
            <div class="item-transactions">
                <div class="avatar-description">
                    <div class="icon-avatar">
                        <span>{{transaction.categorie.icon}}</span>
                    </div>
                    <div class="description">
                        <div class="company">
                            {{transaction.label}}
                        </div>
                        <div class="date">
                            {{transaction.date | date:'longDate'}}
                        </div>
                    </div>
                </div>
                <div class="price">
                    <span class="good">
                        {{transaction.value |currency:'EUR'}}
                    </span>
                </div>
            </div>
        </div>
    </ng-template>
    <h2>Lieux :</h2>
    <div class="map-style">
        map (coming soon)
    </div>
    <div class="btn-actions">
        <ion-button fill="solid" slot="start" color="danger" (click)="remove()">
            Supprimer
        </ion-button>
        <ion-button *ngIf="creationMode" fill="solid" slot="end" color="primary" (click)="save()">
            Enregistrer
        </ion-button>
        <ion-button *ngIf="!creationMode" fill="solid" slot="end" color="secondary" (click)="startEditMode()">
            Modifier
        </ion-button>
    </div>
</ion-content>