<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="img-header">
      <img src="/assets/icon/logo.svg" alt="">
    </div>
    <p class="welcome">Bienvenue sur SoldTracker. <br> Si vous possédez un compte vous pouvez <a
        [routerLink]="['/register']">vous connecter.</a>
    </p>
  </ion-header>
  <div class="login-form">
    <ion-label position="floating">Email</ion-label>
    <ion-input clearInput type="email"></ion-input>

    <ion-label position="floating">Nom</ion-label>
    <ion-input clearInput type="text"></ion-input>

    <ion-label position="floating">Prénom</ion-label>
    <ion-input clearInput type="text"></ion-input>

    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input clearInput type="password"></ion-input>

    <ion-button expand="block" fill="outline">Inscription</ion-button>
    <!-- <ion-button expand="block" fill="outline" color="dark">
      <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      Login with Github
    </ion-button> -->

  </div>

</ion-content>