<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-title">
      <h1>Bonjour <br> {{user?.firstName}}</h1>
      <ion-button fill="clear" (click)="presentTransactionModal()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="sold-account">
      <div class="sold-data">
        <p>Solde actuel </p>
        <h2>{{user?.solde |currency:'EUR'}}</h2>
      </div>
    </div>
    <div class="transactions">
      <div class="transactions-title">
        <div>
          <h3>Transactions récentes :</h3>
        </div>
        <a [routerLink]="'/'+ routesList.tabs + '/' + routesList.transactionsList" class="see-all">
          <span>Voir tout</span>
          <img src="/assets/icon/chevron.svg">
        </a>
      </div>
      <div class="list-transactions" *ngIf="user?.transactions?.length">
        <ng-container *ngFor="let transaction of user.transactions;let i=index">
          <div class="item-transactions" (click)="presentTransactionModal(transaction)" *ngIf="i < 4">
            <div class="avatar-description">
              <div class="icon-avatar" [style.backgroundColor]="transaction.categorie.backgroundColor">
                <span>{{transaction.categorie.icon}}</span>
              </div>
              <div class="description">
                <div class="company">
                  {{transaction.label}}
                </div>
                <div class="date">
                  {{transaction.date | date:'hh:mm dd/MM/yyyy'}}
                </div>
              </div>
            </div>
            <div class="price">
              <span [class]="transaction.value > 0 ? 'good' : ''">
                {{transaction.value |currency:'EUR'}}
              </span>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!user?.transactions?.length">
        Vous n'avez aucune dépense enregistré.
      </div>
    </div>
  </div>
</ion-content>