<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-title">
      <h1>Bonjour <br> {{user?.firstName}}</h1>
      <ion-button fill="clear" (click)="presentTransactionModal()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="sold-account">
      <div class="sold-data">
        <p>Solde actuel </p>
        <h2>700,30€</h2>
      </div>
    </div>
    <div class="transactions">
      <div class="transactions-title">
        <div>
          <h3>Transactions récentes :</h3>
        </div>
        <div class="see-all">
          <div>
            <span>Voir tout</span>
          </div>
          <div>
            <img src="/assets/icon/chevron.svg">
          </div>
        </div>
      </div>
      <div class="list-transactions">
        <div class="item-transactions" (click)="presentTransactionModal()">
          <div class="avatar-description">
            <div class="icon-avatar">
              <span>🍕</span>
            </div>
            <div class="description">
              <div class="company">
                Pizza
              </div>
              <div class="date">
                20h02 - 17 nov 2021
              </div>
            </div>
          </div>
          <div class="price">
            <span class="good">
              -12,50€
            </span>
          </div>
        </div>
        <div class="item-transactions" (click)="presentTransactionModal()">
          <div class="avatar-description">
            <div class="icon-avatar">
              <span>🍕</span>
            </div>
            <div class="description">
              <div class="company">
                Quick
              </div>
              <div class="date">
                20h02 - 17 nov 2021
              </div>
            </div>
          </div>
          <div class="price">
            <span class="good">
              -12,50€
            </span>
          </div>
        </div>
        <div class="item-transactions" (click)="presentTransactionModal()">
          <div class="avatar-description">
            <div class="icon-avatar">
              <span>🍕</span>
            </div>
            <div class="description">
              <div class="company">
                Quick
              </div>
              <div class="date">
                20h02 - 17 nov 2021
              </div>
            </div>
          </div>
          <div class="price">
            <span class="good">
              -12,50€
            </span>
          </div>
        </div>
        <div class="item-transactions" (click)="presentTransactionModal()">
          <div class="avatar-description">
            <div class="icon-avatar">
              <span>🍕</span>
            </div>
            <div class="description">
              <div class="company">
                Quick
              </div>
              <div class="date">
                20h02 - 17 nov 2021
              </div>
            </div>
          </div>
          <div class="price">
            <span class="good">
              -12,50€
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>