<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <div class="container">
      <div class="header-title">
        <h2>Votre <br> solde</h2>
        <h2>{{user?.solde |currency:'EUR'}}</h2>
      </div>
      <div class="inline-view">
        <div class="left-block">
          <h3>Dépenses</h3>
          <div class="block red">
            {{negativesOperations | currency:'EUR'}}
          </div>
        </div>
        <div class="right-block">
          <h3>Entrées</h3>
          <div class="block green">
            + {{positivesOperations | currency:'EUR'}}
          </div>
        </div>
      </div>
      <div class="stats">
        <h4>Statistiques</h4>
        <div class="inline-stat">
          <div class="icon">
            🍕
          </div>
          <div class="progress-bar">
            <ion-progress-bar type="determinate" value="0.5"></ion-progress-bar>
          </div>
          <div class="value">
            130,00€
          </div>
        </div>
        <div class="inline-stat">
          <div class="icon">
            🍕
          </div>
          <div class="progress-bar">
            <ion-progress-bar type="determinate" value="0.5"></ion-progress-bar>
          </div>
          <div class="value">
            130,00€
          </div>
        </div>
      </div>
    </div>
  </ion-header>

</ion-content>